<%= render 'layouts/header' %>

<% places = requestMaps %>

<h2>Listings</h2>

<div id="map_wrapper" class="well">
    <div id="map_canvas" style="height: 400px; width: 100%" class="mapping"></div>
</div>    
<div id="map">
</div>

<div class="listings well">
    <% if places.size > 0 %>
    <% places.each do |place| %>
        <div class="listing">
            <h4><a href='../locations/<%= place['place_id'] %>'><%= place['name'] %></a></h4>
            <p><%= place['formatted_address'] %></p>
        </div>
    <% end %>
    <% else %>
        <p>No Results</p>
    <% end %>
</div>


<script type="text/javascript">
jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyBSjzleaAkrRuGFZ_v-sieRM_2g8hIsQ38&sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    

    var markers = [];
    <% for i in 0...places.length %>
    markers[<%=i%>] = ["<%= URI.decode(places[i]['name'])%>", parseFloat("<%=places[i]['geometry']['location']['lat']%>"), parseFloat("<%=places[i]['geometry']['location']['lng']%>")];
    bounds.extend
    <% end %>
    console.log(markers.length);
                        
    // Info Window Content
    
        
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        console.log(i);
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }
}

</script>
