<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :placeid %><br>
    <%= f.text_field :placeid %>
  </div>
  <div class="field">
    <%= f.label :door_width %><br>
    <%= f.number_field :door_width %>
  </div>
  <div class="field">
    <%= f.label :bathroom_accessibility %><br>
    <%= f.select :bathroom_accessibility, options_for_select([['Yes', "Yes"], ['No', "No"]]) %>
  </div>
  <div class="field">
    <%= f.label :table_heights %><br>
    <%= f.number_field :table_heights %>
  </div>
  <div class="field">
    <%= f.label :additional_comments %><br>
    <%= f.text_field :additional_comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
