<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<div class="container" style="margin: 0 auto !important">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 text-center title">
                    <h2><%= @location.name %></h2>
		</div>
		<div class="col-md-4">
		</div>
	</div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                    <%= @location.formatted_address %>
            </div><br><br>
            <div class="col-md-4">
            </div>
	<div class="row">
		<div class="col-md-8 well">
			<table class="table">
				<thead>
					<tr>
						<th>Attribute</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr class="<%= "success" if @location.wide_door_entryways == "Yes" %>
							   <%= "danger" if @location.wide_door_entryways == "No" %>
							   <%= "info" if @location.wide_door_entryways != "No" and @location.wide_door_entryways != "Yes" %>">
						<td>Door Width</td>
						<td><%= @location.wide_door_entryways %></td>
					</tr>
					<tr class="<%= "success" if @location.bathroom_accessibility == "Yes" %>
							   <%= "danger" if @location.bathroom_accessibility == "No" %>
							   <%= "info" if @location.bathroom_accessibility == "N/A"%>">
						<td>Bathroom Accessibility</td>
						<td><%= @location.bathroom_accessibility %></td>
					</tr>
					<tr class="<%= "success" if @location.accessible_table_heights == "Yes" %>
							   <%= "danger" if @location.accessible_table_heights == "No" %>
							   <%= "info" if @location.accessible_table_heights == "N/A"%>">
						<td>Table Heights</td>
						<td><%= @location.accessible_table_heights %></td>
					</tr>
					<tr class="<%= "success" if @location.handicap_parking == "Yes" %>
							   <%= "danger" if @location.handicap_parking == "No" %>
							   <%= "info" if @location.handicap_parking == "N/A"%>">
						<td>Handicap Parking Available</td>
						<td><%= @location.handicap_parking %></td>
					</tr>
					<tr class="<%= "success" if @location.step_free_access == "Yes" %>
							   <%= "danger" if @location.step_free_access == "No" %>
							   <%= "info" if @location.step_free_access == "N/A"%>">
						<td>Step Free Access</td>
						<td><%= @location.step_free_access %></td>
					</tr>
					<tr class="<%= "success" if @location.automatic_doors == "Yes" %>
							   <%= "danger" if @location.automatic_doors == "No" %>
							   <%= "info" if @location.automatic_doors == "N/A"%>">
						<td>Has Automatic Doors</td>
						<td><%= @location.automatic_doors %></td>
					</tr>
					<tr class="<%= "success" if @location.elevator == "Yes" %>
							   <%= "danger" if @location.elevator == "No" %>
							   <%= "info" if @location.elevator == "N/A"%>">
						<td>Elevator Available</td>
						<td><%= @location.elevator %></td>
					</tr>
					<tr class="<%= "success" if @location.hearing_impaired_accom == "Yes" %>
							   <%= "danger" if @location.hearing_impaired_accom == "No" %>
							   <%= "info" if @location.hearing_impaired_accom == "N/A"%>">
						<td>Hearing Impaired Accommodations</td>
						<td><%= @location.hearing_impaired_accom %></td>
					</tr>
					<tr class="<%= "success" if @location.mobility_impaired_accom == "Yes" %>
							   <%= "danger" if @location.mobility_impaired_accom == "No" %>
							   <%= "info" if @location.mobility_impaired_accom == "N/A"%>">
						<td>Mobility Impaired Accommodations</td>
						<td><%= @location.mobility_impaired_accom %></td>
					</tr>
					<tr class="<%= "success" if @location.visual_impaired_accom == "Yes" %>
							   <%= "danger" if @location.visual_impaired_accom == "No" %>
							   <%= "info" if @location.visual_impaired_accom == "N/A"%>">
						<td>Visual Impaired Accommodations</td>
						<td><%= @location.visual_impaired_accom %></td>
					</tr>
					<tr class="<%= "info" if @location.additional_comments != "Yes" and @location.additional_comments != "No"%>">
						<td>Additional Comments</td>
						<td><%= @location.additional_comments %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-8 well">
			<div id="map" style="height: 400px; width: 100%">
			</div>
	    <div class="mainMap">
	    <script>

	    	window.onload(initMap());
	      var marker;

			function initMap() {
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 13,
			    center: {lat: <%= @location.lat %>, lng: <%= @location.long %>}
			  });

			  marker = new google.maps.Marker({
			    map: map,
			    draggable: true,
			    animation: google.maps.Animation.DROP,
			    position: {lat: <%= @location.lat %>, lng: <%= @location.long %>}
			  });
			  marker.addListener('click', toggleBounce);
			}

			function toggleBounce() {
			  if (marker.getAnimation() !== null) {
			    marker.setAnimation(null);
			  } else {
			    marker.setAnimation(google.maps.Animation.BOUNCE);
			  }
			}
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSjzleaAkrRuGFZ_v-sieRM_2g8hIsQ38&callback=initMap">
	    </script>
</div>
		</div>
</div>

<%= link_to 'Edit', '/locations/' + @location.placeid + '/edit', { :class=>"btn btn-default" } %>

